$standardSpace: 16px;
$fontStyle: $standardSpace sans-serif;

$primaryColor: #000000;
$secondColor: #686868;
$lightGrayColor: #F5F5F5;
$darkPurpleColor: #410F79;
$purpleColor: #5902C8;
$greenColor: #58AF00;
$pinkColor: #C91ECC;
$darkPinkColor: #AC0053;
$bluePoolColor: #08B4B4;
$blueColor: #08A3E5;
$darkBlueColor: #361ECC;
$orangeColor: #EC7F00;
$redColor: #B60000;
$whiteColor: #ffff;
$shadow: 0 6px 22px rgba(0, 0, 0, 0.2);
$blackShadow: 0 5 5px #00000090;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: $fontStyle;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.itemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 323px;
    height: 368px;
    background-color: $whiteColor;
    padding: 20px;
    border-radius: 16px;

    img {
        border-radius: 8px;
        width: 275px;
        height: 172px;
    }

    img, p, .btn {
        margin-bottom: 24px;
    }

    p {
        text-align: left;
        font-weight: 600;
    }
}

.btn {
    display: flex;
    justify-content: space-between;
    background-color: $primaryColor;
    color: $whiteColor;
    border-radius: 40px;
    margin: 0 20px;
}